div.blockgallery { 
	clear: both; 
	line-height: 0;
	margin-bottom: 20px;
}
.blockgallery figure img { 
	border: none;
	margin-left: 0 !important;
	margin-top: 0 !important;
	margin-right: -1px !important;
	margin-bottom: 0 !important;
	padding: 0 !important;
	display: inline;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
} 
.blockgallery figure img.hover { 
	opacity: 0.66;
}
.blockgallery figure, .blockgallery figure.overflow-hidden { 
	display: inline-block;
	margin: 0 !important;
	padding: 0 !important;
}
